<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="runs">
        <li ng-repeat="report in reports | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/report/{{report.uuid}}">{{report.source}}</a>
          <p>MOO</p>
        </li>
      </ul>

    </div>
  </div>
</div>
