<h2>Details for {{report.source_host}} @ {{report.timestamp | date:'short'}}</h2>
<div class="row">
<div class="span4">
<table class="table table-condensed">
  <tr><th>Status</th><td>{{report.fields.status}}</td></tr>
  <tr><th>Hostname</th><td>{{report.source_host}}</td></tr>
  <tr><th>Environment</th><td>{{report.fields.environment}}</td></tr>

</table>
</div>
</div>

<div class="row">
<div class="span5">
<table class="table table-bordered table-condensed">

  <tr><th colspan=2>Metrics</th></tr>
  <tr ng-repeat="(name, metricDetails) in report.fields.metrics">
    <td>{{ name }}</td>
    <td>
      <div ng-repeat="(detailName, detail) in metricDetails">
        <span class="{{$eval('reportContext.metrics.' +  name + '.' + detailName) }}">{{ detailName }} : {{ detail }}</span>
      </div>
    </td>
  </tr>

</table>
</div>
</div>


<h2>Lines</h2>
<div class="span5">
    <div ng-repeat="line in report.fields.logs">
     <div class="row"><div class="span10">{{ line }}</div></div>
    </div>

</div>

