<div class="details">
  <h2>Details for {{report.source_host}} @ {{report.timestamp | date:'short'}}</h2>
<br/>
<table class="table table-bordered table-condensed">
  <tr><th>Status</th><td>{{report.fields.status}}</td></tr>
  <tr><th>Source</th><td>{{report.source}}</td></tr>
  <tr><th>Environment</th><td>{{report.fields.environment}}</td></tr>

</table>  

<table class="table table-bordered table-condensed">
  
  <tr><th colspan=2>Metrics</th></tr>  
  <tr ng-repeat="(name, metricDetails) in report.fields.metrics">
    <td>{{ name }}</td>
    <td>
      <div ng-repeat="(detailName, detail) in metricDetails">
        <span class="{{$eval('reportContext.metrics.' +  name + '.' + detailName) }}">{{ detailName }} : {{ detail }}</span>
      </div>
    </td>
  </tr>

</table>  
<table class="table table-bordered table-condensed">
  
  <tr><th colspan=2>Lines</th></tr>  
  <tr><td colspan="2">
    <span ng-repeat="line in report.fields.logs">{{ line }}<br/><span>
  </td></tr>
</table>
</div>