<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="iconChanges">Changes</option>
        <option value="-iconFailures">Failures</option>
        <option value="source">Source</option>
        <option value="-timestamp">Timestamp</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->
      <table class=".table">
        <tr><th>Failed</th>
            <th>Changed?</th>
            <th>Hostname</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="report in reports | filter:query | orderBy:orderProp">
          <td><i class="{{report.iconFailures}}"> </i></td>
          <td><i class="{{report.iconChanges}}"> </i></td>
           <td><a href="#/report/{{report.uuid}}">{{report.source_host}}</a></td>
            <td> {{report.timestamp | iso8601ago }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
